# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
env/
myenv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Model files
# =========================
*.h5
*.keras
*.pth
*.pt
models/

# =========================
# Data (DO NOT PUSH LARGE DATA)
# =========================
data/
dataset/
*.zip

# =========================
# Logs
# =========================
*.log
static/history.json

# =========================
# System files
# =========================
.DS_Store
Thumbs.db